<h3>Software Projects</h3>
<dl>
  <dt><a href="http://www.pypower.org">PYPOWER</a></dt>
  <dd>Python package for solving power flow and optimal power flow problems.</dd>
  <dt><a href="http://www.muntiacus.org">Muntjac</a></dt>
  <dd>Python web application GUI toolkit.</dd>
  <dt><a href="http://github.com/rwl/DSS">DSS</a></dt>
  <dd>An electric power distribution system simulator in Java.</dd>
  <dt><a href="http://www.pycim.org">PyCIM</a></dt>
  <dd>Python implementation of the IEC Common Information Model.</dd>
  <dt><a href="http://github.com/rwl/JPOWER">JPOWER</a></dt>
  <dd>Java package for solving power flow and optimal power flow problems.</dd>
  <dt><a href="http://csparsej.sf.net/">CSparseJ</a></dt>
  <dd>Java port of <a href="http://www.cise.ufl.edu/research/sparse/CSparse/">CSparse</a>
  (a Concise Sparse matrix package).</dd>
  <dt><a href="http://github.com/rwl/JKLU">JKLU</a></dt>
  <dd>Java port of <a href="http://www.cise.ufl.edu/research/sparse/klu/">KLU</a>
  (a sparse LU factorization algorithm).</dd>
<dl>
